{% extends "base.html" %}
{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/push.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='vendors/choices.js/choices.min.css') }}">
{% endblock %}
{% block content %}
<section id="basic-vertical-layouts">
    <div class="row match-height">
        <div class="col-2"></div>
        <div class="col-8">
        <div class="card">
            <div class="card-header">
            <h4 class="card-title">Create your push order</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-vertical" method="POST" action="/{{view}}/pushorder/breakdown">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="good-id">Select good</label>
                                            <select class="choices form-select" name="good">
                                                {% for product in products %}
                                                    <option value="{{product.name}}">{{product.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="quantity">Quantity</label>
                                            <input type="number" id="quantity" class="form-control" name="quantity" placeholder="Enter your quantity...">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="good-id">Select destination</label>
                                            <select class="choices form-select" name="region">
                                                {% for region in regions %}
                                                    <option value="{{ region.name }}">{{ region.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="overflow:auto;">
                            <div style="float:right;">
                                <button type="submit" id="nextBtn" class="btn btn-primary mr-1 mb-1">Next</button>
                            </div>
                        </div>
                            
                        <div style="text-align:center;margin-top:40px;">
                            <span class="step active"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <div class="col-2"></div>
    </div>
</section>
{% endblock %}
{% block additional_scripts %}
<script src="{{ url_for('static',filename='vendors/choices.js/choices.min.js') }}"></script>
{% endblock %}
